.index_grid .grid_window {
  display: block;
  border: 2px solid darkgrey;
  border-radius: 15px 15px;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  text-align: center; }
  .index_grid .grid_window:hover {
    background-color: lightgrey;
    opacity: 0.6; }

.diet_day {
  border: 3px solid red; }

.sizes {
  position: relative;
  width: 340px; }
  .sizes img {
    width: 160px;
    height: 100%; }
  .sizes input {
    position: absolute;
    width: 70px; }
  .sizes #biceps_input {
    top: 80px;
    left: 250px; }
  .sizes #chest_input {
    top: 70px;
    left: 20px; }
  .sizes #forearm_input {
    top: 120px;
    left: 10px; }
  .sizes #hips_input {
    top: 160px;
    left: 240px; }
  .sizes #thigh_input {
    top: 195px;
    left: 245px; }
  .sizes #waist_input {
    top: 185px;
    left: 30px; }

#mealmessages div {
  transition: all 2s linear;
  display: block;
  position: absolute;
  left: 10px;
  top: 0px;
  width: 98%; }
  #mealmessages div.hidden {
    opacity: 0; }

