@model Gym_application.Repository.Models.ViewModels.DietViewModels.ViewDietMealModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input name="dietid" type="hidden" value="@ViewData["dietid"]" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number_of_Meal_At_The_Week" class="control-label"></label>
                <input asp-for="Number_of_Meal_At_The_Week" class="form-control" />
                <span asp-validation-for="Number_of_Meal_At_The_Week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Which_meal_at_day" class="control-label"></label>
                <input asp-for="Which_meal_at_day" class="form-control" />
                <span asp-validation-for="Which_meal_at_day" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

